<a href="#/">home</a>

<h1>Day</h1>

<div id="day-slots">
  <ul class="day-slot"></ul>
  <ul class="day-slot"></ul>
  <ul class="day-slot"></ul>
  <ul class="day-slot"></ul>
  <ul clsas="day-slot"></ul>
  <ul class="day-slot"></ul>
</div>

<input type="text" id="search">

<ul id="foods">
</ul>
