body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#day-slots {

}

.day-slot {
  border: 1px solid #f00;
  width: 200px;
  height: 60px;
}
